*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgb(84, 206, 251), rgb(97, 145, 234), rgb(255, 187, 199));
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#enemyPopup{
    background: white;
    color: black;
    padding: 20px;
    border-radius: 15px;
    width: 500px;
    text-align: center;
}

#enemyInfo{
    position: absolute;
    left: 20px;
    width: 200px;
    text-align: center;
    border: 2px, solid, white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.enemyInfoBackground{
    color: black;
    padding: 10px;
}

.otherInfo{
    font-size: 15px;
    color: grey;
}

.head1{
    text-align: center;
    color: white;
}

#container{
    margin-top: 60px;
}

#rules{
    width: 450px;
    border: 3px solid white;
    padding: 20px;
    text-align: left;
    margin: 20px auto;
}

#rules, p{
    margin-top: 10px;
    color: white;
}

button{
    background: white;
    border: white;
    color: rgb(3, 178, 231);
    border-radius: 8px;
    font-size: 18px;
    display: flex;
    justify-self: center;
    cursor: pointer;
    margin: 10px;
    padding: 2px;
}

.grid{
    display: none;
    position: relative;
    width: 700px;
    height: 700px;
    margin: 40px auto;
    border: 2px solid white;
    background:
        linear-gradient(white 1px, transparent 1px),
        linear-gradient(90deg, white 1px, transparent 1px);
    background-size: 100px 100px;
}

.border{
    border: 1px solid white;
}

#player{
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg,white, rgba(204, 204, 204, 0.952));
    box-shadow: 0px 0px 20px 0px white;
    border-radius: 50px;
    transition: all 0.3s ease;
}

#enemyRed{
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg,red, rgb(180, 0, 0));
    box-shadow: 0px 0px 20px 0px red;
    border-radius: 50px;
    transition: all 0.7s ease;
}

#enemyGrey{
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg, grey, rgb(114, 114, 114));
    box-shadow: 0px 0px 20px 0px grey;
    border-radius: 50px;
    transition: all 0.4s ease;
}

#enemyOrange{
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg, orange, rgb(209, 136, 0));
    box-shadow: 0px 0px 20px 0px orange;
    border-radius: 50px;
    transition: all 0.6s ease;
}

#enemyPink{
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg, pink, rgb(201, 146, 155));
    box-shadow: 0px 0px 20px 0px pink;
    border-radius: 50px;
    transition: all 0.6s ease;
}

#holder1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

#hearts{
    font-size: 38px;
    position: absolute;
    left: 20px;
}

#timer{
    text-align: center;
    font-size: 38px;
    color: white;
}

#loseScreen {
    background: white;
    color: black;
    text-align: center;
}

#winScreen {
    background: white;
    color: black;
    text-align: center;
}

#player.flash{
    background-color: yellow;
    box-shadow: 0px 0px 15px 10px yellow;
    transition: all 0.1s ease;
}
